<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal-TATest-DTS.log" >

    <variable name="myLayout" value="${date:format=MM-dd HH\:mm\:ss.fff} | ${threadname:whenempty=${threadid}} | ${pad:padding=-5:inner=${level:uppercase=true}} | ${callsite} | ${message}${onexception:${newline}${exception:format=ToString}}"/>
    <variable name="myConsole" value="${date:format=MM-dd HH\:mm\:ss.fff} | ${threadname:whenempty=${threadid}} | ${pad:padding=-5:inner=${level:uppercase=true}} | ${message}${onexception:${newline}${exception:innerFormat=tostring:maxInnerExceptionLevel=10:separator=,:format=tostring}}" />

    <targets async="true">
        <!--示範輸出到彩色命令視窗-->
        <target xsi:type="ColoredConsole"
                name="coloredConsole"
                layout="${myConsole}"
                useDefaultRowHighlightingRules="true">
        </target>
    </targets>

    <targets>
        <default-wrapper xsi:type="AsyncWrapper" queueLimit="1000000" batchSize="5000" timeToSleepBetweenBatches="2000" overflowAction="Block"/>
        <default-target-parameters
            xsi:type="File"
            encoding="utf-8"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            autoFlush="false"
            keepFileOpen="true"/>

        <!--寫入檔案-->
        <target xsi:type="File"
                name="file"
                fileName="logs\log.txt"
                layout="${myLayout}"
                archiveFileName="logs\log_{#}.txt"
                maxArchiveFiles="5"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
        <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
</nlog>